html {
	position: relative;
	min-height: 100%;
}

body {
	/*	background: #fff8dc;*/
	padding-top: 50px;
	margin-bottom: 150px;
	clear: both;
	overflow: auto;
}

.div1 {
	font-family: italic;
	font-size: 20px;
	color: white;
	width: 120px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	float: left;
	margin: 8px;
	background: orange;
	border: 1px solid #f8f8ff;
}

.div2 {
	width: 65%;
	margin: 20px;
	border: 3px dashed #ffe4e1;
	clear: both;
	overflow: auto;
	float: left;
}

.div3 {
	margin: 20px;
	margin-left: 70%;
	overflow: auto;
	font-style: italic;
}

.div4 {
	float: left;
	margin: 10px;
}

.div5 {
	width: 30%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	overflow: auto;
	padding-bottom: 50px;
}

.div6 {
	height: 140px;
	margin-bottom: 20px;
	background: #008b8b;
	font-family: italic;
	font-size: 20px;
	color: white;
	clear: both;
	overflow: auto;
}

.div7 {
	width: 65%;
	margin-left: 30px;
	float: left;
	font-family: arial;
	color: white;
}

.div8 {
	clear: both;
	overflow: auto;
}

.div9 {
	padding-top: 80px;
}

.div10 {
	width: 90%;
	margin-top: 5px;
	margin-bottom: 110px;
	margin-left: 20px;
	margin-right: 20px;
	border: 3px dashed #ffe4e1;
	clear: both;
	overflow: auto;
	font-style: italic;
	font-size: 20px;
}

.div11 {
	margin-left: auto;
	margin-right: auto;
}

.div12 {
	width: 59%;
}

.div13 {
	display: none;
}

.div14 {
	font-style: italic;
	width: 90%;
	margin: 20px;
	border: 3px;
	clear: both;
	overflow: auto;
	float: left;
	color: blue;
}
.div15 {
	margin-right: 0px;
	overflow: auto;
	text-align: right;
}
.div16 {
	margin-left: 10px;
	overflow: auto;
	text-align: left;
}
.div17 {
	width: 40%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	overflow: auto;
	padding-bottom: 150px;
}
.td1 {
	margin: 5px;
}

.td2 {
	margin: 5px;
	width: 50%;
	float: left;
}

.font1 {
	font-style: italic;
	font-size: 20px;
}

.font2 {
	font-style: italic;
	font-size: 30px;
}

.font5 {
	font-style: italic;
	font-size: 18px;
	color: white;
	
}

.font3 {
	font-style: italic;
	font-size: 14px;
}

.font4 {
	text-align: center;
	font-family: serif;
}

.font6 {
	text-align: center;
	font-style: italic;
	font-size: 20px;
	overflow:hidden;
	
}
.font7 {
	font-style: italic;
	font-size: 12px;
	text-align: right;
	overflow:hidden;
	margin-right: 4px;
}
.font8 {
	font-style: italic;
	font-size: 14px;
	text-align: left;
	overflow:hidden;
	
}

.footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 80px;
	background: #008b8b;
}


.roundCorner {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}